* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
}

body {
  font-family: system-ui;
  color: #555;
  background-color: #f7f7f7;
  min-height: 100vh;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.home {
  font-size: 600%;
  text-shadow: brown;
  padding: 5px;
  font-weight: bolder;
}
.head {
  position: absolute;
  top: 0px;
  display: flex;
  height: 13%;
  background-color: #fff;
  box-shadow: 0 2rem 5rem 1rem rgba(0, 0, 0, 0.1);
  /* font-size: 1.8rem; */
  width: 100%;
  border-radius: 1.3rem;
  margin: 0 3rem;
  margin-bottom: 15px;
  justify-content: space-between;
}
.search {
  display: flex;
  float: right;
}
.sea {
  text-decoration: underline;
}
#id {
  padding-left: 15px;
}
.remove {
  font-size: 400%;
}
.last {
  padding: 10px;
}
.ang {
  font-size: 350%;
  text-decoration: none;
}
.input {
  text-align: center;
  height: 100%;
  font-size: large;
  border-radius: 7px;
}
.zero:hover {
  cursor: pointer;
}
.zero {
  font-size: xx-large;
}
.ank {
  padding: 7px;
  font-size: x-large;
}
.chat {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.btn {
  size: 150%;

  font-size: x-large;
}

.container {
  display: flex;
  float: left;
  align-items: center;
}

.countries {
  /* margin-bottom: 8rem; */
  display: flex;
  font-size: 2rem;
  opacity: 0;
  overflow: hidden;
  transition: opacity 1s;
}

.country {
  background-color: #fff;
  box-shadow: 0 2rem 5rem 1rem rgba(0, 0, 0, 0.1);
  font-size: 1.8rem;
  width: 30rem;
  border-radius: 0.7rem;
  margin: 0 3rem;
  flex-wrap: nowrap;
  /* overflow: hidden; */
}

.neighbour::before {
  content: "Neighbour country";
  width: 100%;
  position: absolute;
  top: -4rem;

  text-align: center;
  font-size: 1.8rem;
  font-weight: 600;
  text-transform: uppercase;
  color: #888;
}

.neighbour {
  transform: scale(0.8) translateY(1rem);
  margin-left: 0;
}

.country__img {
  width: 30rem;
  height: 17rem;
  object-fit: cover;
  background-color: #eee;
  border-top-left-radius: 0.7rem;
  border-top-right-radius: 0.7rem;
}

.country__data {
  padding: 2.5rem 3.75rem 3rem 3.75rem;
}

.country__name {
  font-size: 2.7rem;
  margin-bottom: 0.7rem;
}

.country__region {
  font-size: 1.4rem;
  margin-bottom: 2.5rem;
  text-transform: uppercase;
  color: #888;
}

.country__row:not(:last-child) {
  margin-bottom: 1rem;
}

.country__row span {
  display: inline-block;
  margin-right: 2rem;
  font-size: 2.4rem;
}
.nav {
  padding: 20px;
  text-decoration: none;
  font-style: normal;
}
.btn-country {
  border: none;
  font-size: 2rem;
  padding: 2rem 5rem;
  border-radius: 0.7rem;
  color: white;
  background-color: orangered;
  cursor: pointer;
}

.images {
  display: flex;
}

.images img {
  display: block;
  width: 80rem;
  margin: 4rem;
}

.images img.parallel {
  width: 40rem;
  margin: 2rem;
  border: 3rem solid white;
  box-shadow: 0 2rem 5rem 1rem rgba(0, 0, 0, 0.1);
}
@media screen and (max-width: 600px) {
  body {
    size: 10%;
    text-size-adjust: 30%;
  }
  .head {
    width: 100%;
  }
  .home {
    font-size: 200%;
  }
  .ang {
    size: 150%;
    font-size: 150%;
  }
  .ank {
    font-size: medium;
  }
  .input {
    size: 30%;
    font-size: small;
  }
  .btn {
    size: 50%;
    font-size: 80%;
  }
  .chat {
    size: 30%;
  }
  .zero {
    padding: 3px;
    font-size: large;
  }
}
